<div class="socio-empleado">
    <app-headerusuario></app-headerusuario>
    <app-menusocioempleado></app-menusocioempleado>
    <section class="socios">
        <table class="table table-striped tabla-socio">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email </th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usersocio of socios">
                    <td>{{usersocio.nombre}}</td>
                    <td>{{usersocio.apellidos}} </td>
                    <td>{{usersocio.email}} </td>
                    <td>
                    <button type="button" class="btn boton" (click)="recogerSocio(usersocio)" data-toggle="modal" data-target="#modalEditarSocio">Editar</button>
                    </td>
                    <td>
                        <button type="button" class="btn boton" (click)="borrarSocio(usersocio.id)">Borrar</button>
                    </td>
                    
                      
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn boton btn-block" data-toggle="modal" data-target="#modalInsertarSocio" >NUEVO SOCIO</button>
    </section>
    <div class="modal fade" id="modalInsertarSocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Insertar socio</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div [hidden]="erroneo!=true" class="alert alert-danger" role="alert">
                <p>{{mensaje}}</p>
              </div>
              <div [hidden]="insertado!=true" class="alert alert-success" role="alert">
                <p>{{mensaje}}</p>
              </div>
                <form [formGroup]="formInsertarSocio" (submit)="insertarSocio(formInsertarSocio.value)">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="email" placeholder="Email...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" formControlName="password" placeholder="Contraseña...">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre...">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos...">
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" formControlName="fecha_nacimiento">
                    </div>
                    <div class="form-group" hidden>
                        <input type="text" class="form-control" formControlName="rol">
                    </div>
                    <div class="form-group"><button class="btn boton btn-block" type="submit">Insertar</button></div>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade"  id="modalEditarSocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar socio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [hidden]="erroneo!=true" class="alert alert-danger" role="alert">
          <p>{{mensaje}}</p>
        </div>
        <div [hidden]="editado!=true" class="alert alert-success" role="alert">
          <p>{{mensaje}}</p>
        </div>
        <form [formGroup]="formEditarSocio" (submit)="editarSocio()">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="Email..." [(ngModel)]="sociotmp.email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña..." [(ngModel)]="sociotmp.password">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre..." [(ngModel)]="sociotmp.nombre">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos..." [(ngModel)]="sociotmp.apellidos">
          </div>
          <div class="form-group">
              <input type="date" class="form-control" formControlName="fecha_nacimiento" [(ngModel)]="sociotmp.fecha_nacimiento">
          </div>
          <div class="form-group" hidden>
              <input type="text" class="form-control" formControlName="rol">
          </div>
          <div class="form-group"><button class="btn boton btn-block" type="submit">Editar</button></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>