<div class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-3 red">
                    <div class="red-twitter">
                        <a href="https://www.twitter.com/">
                            <img src="/assets/footer/twitter.png" alt="">
                        </a>    
                    </div>
                    <p>Twitter</p>
                </div>
                <div class="col-3 red">
                    <div class="red-instagram">
                        <a href="https://www.instagram.com/"><img src="/assets/footer/instagram.png" alt=""></a>
                    </div>
                    <p>Instagram</p>
                </div>
                <div class="col-3 red">
                    <div class="red-facebook">
                        <a href="https://www.facebook.com/"><img src="/assets/footer/facebook.png" alt=""></a>     
                    </div>  
                    <p>Facebook</p>
                </div>
                <div class="col-3 red">
                    <div class="red-youtube">
                        <a href="https://www.youtube.com/">
                            <img src="/assets/footer/youtube.png" alt="">
                        </a>      
                    </div>
                    <p>Youtube</p>
                </div>
            </div>
        </div>
        <div class="row linea">
            <hr>
        </div>
        <div class="row copy">
            <p class="titulo-footer">&copy;Juanjo Cortes Ramirez</p>
        </div>     
    </footer>
</div>
