<div class="menu">
  <div class="row rowmenu">
    <div class="col-12 col-sm-6 ejercicios">
      <div class="contenedor-ejercicios-title" [routerLink]="['/ejercicios']">
        <div class="ejercicios-title">EJERCICIOS</div>
      </div>
      <div class="ejercicios-image"></div>
    </div>
    <div class="col-12 col-sm-6 perfil">
      <div class="contenedor-perfil-title">
        <div class="perfil-title">PERFIL</div>
      </div>
      <div class="perfil-image"></div>
    </div>
  </div>
</div>
