.menu{
    height: 400px;
    overflow: hidden;
}
  
.rowmenu{
    height: 100%;
}

.ejercicios{
    height: 100%;
    padding: 0;
    overflow: hidden;
    position:relative;
    cursor: pointer;
}
  
.rutinas{
    height: 100%;
    padding: 0;
    overflow: hidden;
    position:relative;
    cursor: pointer;
}
  
.perfil{
    height: 100%;
    padding: 0;
    overflow: hidden;
    position:relative;  
}
  
.ejercicios-image{
    z-index: -1;
    position:relative;
    height: 100%;
    transition: transform .5s ease;
}

.ejercicios-image img{
    
    object-fit: cover;
    height: 100%;
    width: 100%;
}
  
.contenedor-ejercicios-title{
    height: 100%;
    width:100%;
    align-items: center;
    display: flex;
    position: absolute;
}
  
.ejercicios-title{
    background: rgba(0, 0, 0,0.5); 
    backdrop-filter: blur(15px);
    color: white;
    width:100vh;
    padding:20px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
}
  
.ejercicios:hover .ejercicios-image{
    transform: scale(1.2);
    padding: 0;
    cursor: pointer;
}

.rutinas-image{
    background: url('/assets/perfil/rutinas1.jpg')no-repeat center;
    background-size: cover;
    z-index: -1;
    position:relative;
    height: 100vh;
    transition: transform .5s ease;
}
  
.rutinas:hover .rutinas-image{
    padding: 0;
    cursor: pointer;
}
  
.contenedor-rutinas-title{
    height: 100%;
    width:100%;
    align-items: center;
    display: flex;
    position: absolute;
}
  
.rutinas-title{
    background: rgba(0, 0, 0,0.5); 
    backdrop-filter: blur(15px);
    color: white;
    width:100vh;
    padding:20px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
}

.rutinas:hover .rutinas-image{
    transform: scale(1.2);
    padding: 0;
    cursor: pointer;
}
  
.perfil-image{
    background: url('/assets/perfil/perfil1.jpg')no-repeat center;
    background-size: cover;
    z-index: -1;
    position: relative;
    height: 100vh;
}

.contenedor-perfil-title{
    height: 100%;
    width:100%;
    align-items: center;
    display: flex;
    position: absolute;
}
  
.perfil-title{
    background-color: rgba(133, 128, 128,0.5);
    backdrop-filter: blur(15px);
    color: white;
    width:100vh;
    padding:20px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
}