<div class="menu">
    <div class="row rowmenu">
      <div class="col-4 ejercicios" [routerLink]="['/ejercicios']">
        <div class="contenedor-ejercicios-title">
          <div class="ejercicios-title">EJERCICIOS</div>
        </div>
        <div class="ejercicios-image">
            <img src="/assets/perfil/ejercicio1.jpg" alt="">
        </div>
      </div>
      <div class="col-4 rutinas" [routerLink]="['/rutinas']">
        <div class="contenedor-rutinas-title">
          <div class="rutinas-title">
            RUTINAS
          </div>
        </div>
        <div class="rutinas-image"></div>
      </div>
      <div class="col-4 perfil" [routerLink]="['/perfil']">
        <div class="contenedor-perfil-title">
          <div class="perfil-title">PERFIL</div>
        </div>
        <div class="perfil-image"></div>
      </div>
    </div>
</div>
