<div class="menu">
    <div class="row rowmenu">
      <div class="col-12 col-sm-6 empleado">
        <div class="contenedor-empleado-title">
          <div class="empleado-title">
            EMPLEADO
          </div>
        </div>
        <div class="empleado-image"></div>
      </div>
      <div class="col-12 col-sm-6 socio" [routerLink]="['/socioempleado']">
        <div class="contenedor-socio-title">
          <div class="socio-title">SOCIO</div>
        </div>
        <div class="socio-image"></div>
      </div>
</div>

