<div class="cabecera">
    
</div>
<div class="container">
    <div class="nolimits">
        <h3 class="title">NO LIMITS</h3>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-6 gym-container">
                <div class="gym-container-image"></div>
            </div>
            <div class="col-12 col-lg-6">
                <div class=row>
                  <div class="col-12">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae officia facere, facilis veniam magni nobis, aut enim, quam ipsum consectetur praesentium odio repellat! Aliquam perspiciatis hic sed aut, quasi enim?
                    Optio minima fuga quos ex voluptate eius temporibus error molestiae corporis non, est nemo ea eveniet sapiente. Tenetur cupiditate ab ipsam, natus voluptatibus quo modi blanditiis debitis voluptas! Fugiat, deleniti.
                    Laboriosam doloremque odio autem earum, nulla excepturi debitis, blanditiis iure perferendis nemo, quis ipsum. Deleniti similique, corporis alias consequuntur atque repudiandae expedita provident natus architecto, dolorum saepe. Voluptates, odio quibusdam?
                    Molestiae velit, exercitationem pariatur quaerat voluptatibus, ratione soluta atque suscipit consequatur dolore eveniet animi neque sit quo fugit a vel, porro reiciendis? Incidunt molestiae officia provident possimus tenetur eaque optio!
                    Iste earum nesciunt eligendi quidem debitis voluptas, molestias rerum nulla! Nostrum facere est, provident alias, voluptatum, laboriosam rem dolor eveniet sunt non in nulla animi quisquam nesciunt voluptatem corporis exercitationem.
                  </div>
                  <div class="col-12">
                    <a href="#" class="btn btn-info">Mas informacion</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="optionsnolimits">
        <div class="row">
            <div class="options col-12 col-sm-6 col-lg-3">
                <div class="options-title">
                    <div class="options-image-equipo"></div>
                </div>  
            </div>
            <div class="options col-12 col-sm-6 col-lg-3">
                <div class="options-title">
                    <div class="options-image-galeria"></div>
                </div>  
            </div>
            <div class="options col-12 col-sm-6 col-lg-3">
                <div class="options-title">
                    <div class="options-image-horarios"></div>
                </div>  
            </div>
            <div class="options col-12 col-sm-6 col-lg-3">
                <div class="options-title">
                    <div class="options-image-comentarios"></div>
                </div>  
            </div>
        </div>
    </div>
</div>
<!--<div class="cabecera">
    <app-cabecera></app-cabecera>
    <app-nolimits></app-nolimits>
    <app-optionsnolimits></app-optionsnolimits>
</div>-->
