<app-cabecera></app-cabecera>

<div class="no-limits">
    <h2 class="titulo">NO LIMITS</h2>
    <div class="row">
        <div class = "col-12 col-md-6 no-limits-option">
            <div class="contenedor-img-nolimits">
                <img src="/assets/gimnasio/gym.jpg" alt="">
            </div>   
        </div>
        <div class = "col-12 col-md-6 no-limits-option">
            <div class="contenedor-texto-nolimits">
                <p>NO LIMITS está reconocido como uno de los mejores centros de Castilla La Mancha. Una vez entras pasarás a formar parte
                    de una gran familia, donde podrás cumplir tus metas con sacrificio y con la ayuda de nuestros entrenadores personales.
                    Una vez seas socio, gozarás de un amplio repertorio de ejercicios que puedes realizar en nuestro centro, con ayuda detallada y 
                    rutinas que crearán los entrenadores a vuestra medida.
                </p>
            </div>     
        </div>
    </div>
</div>

<app-home-entrenadores></app-home-entrenadores>

<app-galeria></app-galeria>

<div class="sobre-mi">
    <h2 class="titulo">SOBRE MI - JUANJO CORTÉS RAMIREZ</h2>
    <div class="row">
        <div class="col-12 contenedor-img-sobremi">
            <img src="/assets/juanjo/juanjo.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 contenedor-texto-sobremi">
            <div class="container">
                <p>Dejarme que os cuente un poco de mi...Me llamo Juan José (Juanjo) Cortés Ramirez, tengo 23 años. Soy Técnico Superior en Desarrollo de Aplicaciones Multiplataforma
                    y Técnico Superior en Aplicaciones Web. Además he realizado algunos cursos relacionados con Flutter, Angular, Javascript... en Udemy y OpenWebinars.<br>
                    El tema sobre mi proyecto final en Desarrollo de Aplicaciones Web lo elegí ya que cada vez hay mas personas que se cuidan su físico, ya sea por su salud o por verse bien.
                    <br>
                    Un saludo!
                </p>
            </div>     
        </div>
    </div>
</div>

<div id="mapid" class="mapa">
</div>

<app-footer></app-footer>
