<app-cabecera></app-cabecera>

<div class="no-limits">
    <h2 class="titulo">NO LIMITS</h2>
    <div class="row">
        <div class = "col-12 col-md-6 no-limits-option">
            <div class="contenedor-img-nolimits">
                <img src="/assets/gimnasio/gym.jpg" alt="">
            </div>   
        </div>
        <div class = "col-12 col-md-6 no-limits-option">
            <div class="contenedor-texto-nolimits">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa blanditiis dolorem atque omnis velit? Consequuntur porro harum dolores, corporis ipsa, et iure vel sed accusamus, neque officiis nulla temporibus a cum est maxime fugit? Reiciendis velit necessitatibus alias fugiat dicta neque quibusdam libero! Labore cupiditate commodi a quisquam. Impedit, provident.</p>
            </div>     
        </div>
    </div>
</div>

<div class="entrenadores">
  <div class="container-fluid">
    <div class="row">
		<div class="col">
            <h2 class="titulo">ENTRENADORES</h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 contenedor-entrenador" *ngFor="let trainer of entrenadores">
                    <div class="img-box"><img src="/examples/images/clients/1.jpg" alt=""></div>
                    <p class="entrenador"><b>{{trainer.nombre}} {{trainer.apellidos}}</b>{{trainer.fecha_nac}}</p>
                    <div class="row redes-sociales">
                        <div class="col-4 contenedor-redes">
                            <a href="https://www.facebook.com/{{trainer.facebook}}">
                                <img src="/assets/entrenador/facebook.png" alt="">
                            </a> 
                        </div>
                        <div class="col-4 contenedor-redes">
                            <a href="https://www.instagram.com/{{trainer.instagram}}">
                                <img src="/assets/entrenador/instagram.png" alt="">
                            </a>  
                        </div>
                        <div class="col-4 contenedor-redes">
                            <a href="https://www.twitter.com/{{trainer.twitter}}">
                                <img src="/assets/entrenador/twitter.png" alt="">
                            </a> 
                        </div>
                </div>
			</div>
		</div>
	</div>
  </div>
</div>

<app-galeria></app-galeria>

<div class="sobre-mi">
    <h2 class="titulo">SOBRE MI - JUANJO CORTÉS RAMIREZ</h2>
    <div class="row">
        <div class="col-12 contenedor-img-sobremi">
            <img src="/assets/juanjo/juanjo.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 contenedor-texto-sobremi">
            <div class="container">
                <p>Dejarme que os cuente un poco de mi...Me llamo Juan José (Juanjo) Cortés Ramirez, tengo 23 años. Soy Técnico Superior en Desarrollo de Aplicaciones Multiplataforma
                    y Técnico Superior en Aplicaciones Web. Además he realizado algunos cursos relacionados con Flutter, Angular, Javascript... en Udemy y OpenWebinars.<br>
                    El tema sobre mi proyecto final en Desarrollo de Aplicaciones Web lo elegí ya que cada vez hay mas personas que se cuidan su físico, ya sea por su salud o por verse bien.
                    <br>Os dejo mi curriculum por aquí por si quereis poneros en contacto conmigo.
                    Un saludo!
                </p>
                <div class="contenedor-btn-cv">
                    <button type="button">Descargar CV</button>
                </div>
            </div>     
        </div>
    </div>
</div>

<div id="mapid" class="mapa">
</div>

<app-footer></app-footer>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">LOGIN</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formLogin" (submit)="login()">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="email" placeholder="Email...">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="password" placeholder="Contraseña...">
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Login</button></div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        </div>
      </div>
    </div>
</div>