.titulo {
    color: #642a73;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
  }

.no-limits{
    width: 100%;
    overflow: hidden;
}

.contenedor-img-nolimits{
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contenedor-img-nolimits > img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.no-limits-option{
    padding:0;
}

.contenedor-texto-nolimits{
    height:400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: justify;
    padding: 20px;
    background-color: rgb(100, 42, 115);
}

.contenedor-texto-nolimits p{
    color:white;
    font-weight: 300;
    font-size: 1.2em;
}

/* SOBRE MI */

.sobre-mi{
    padding: 30px 0;
    overflow: hidden;
}

.contenedor-img-sobremi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contenedor-img-sobremi img{
    width: 200px;
    height: 200px;
    border: 1px solid #4d0686 ;
    border-radius: 50%;
    object-fit: cover;
}

.contenedor-texto-sobremi{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: justify;
}

.contenedor-texto-sobremi p{
    font-size: 1.2em;
    font-weight: 300;
}

.contenedor-btn-cv{
    width: 100%;
    align-items: center;
    justify-content: center;
    display:flex;
}

.contenedor-btn-cv button{
    font-size: 1.2em;
    padding: 10px;
    background-color: #2d054e;
    border-radius: 5px;
    color:white;
}

/*ENTRENADORES*/

.contenedor-entrenador{
    margin-bottom: 25px;
    text-align:center;
}
.entrenadores{
    background: #f2f2f2;
    padding: 30px 0;
    overflow: hidden;
}


.img-box {
	width: 250px;
	height: 300px;
	margin: 0 auto;
	padding: 5px 5px 15px 5px;
}
.img-box img {
	width: 100%;
	height: 100%;
	display: block;
}

.entrenador {	
    font-weight: 300;
    font-size: 1.2em;
}
.entrenador b {
	text-transform: uppercase;
	color: #4d0686;
}

.redes-sociales{
    padding-top: 10px;
}

.mapa{
    width:100%;
    height: 400px;
}

/* LOGIN */
