.titulo {
    color: #642a73;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
  }

.no-limits{
    width: 100%;
    overflow: hidden;
}

.contenedor-img-nolimits{
    width: auto;
    height: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contenedor-img-nolimits > img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}


/* SOBRE MI */

.sobre-mi{
    padding: 30px 0;
    overflow: hidden;
}

.contenedor-img-sobremi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contenedor-img-sobremi img{
    width: 200px;
    height: 200px;
    border: 1px solid #4d0686 ;
    border-radius: 50%;
    object-fit: cover;
}

.contenedor-texto-sobremi{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: justify;
}

.contenedor-texto-sobremi p{
    font-size: 1.2em;
    font-weight: 300;
}


/*ENTRENADORES*/

.entrenadores{
    background: #f2f2f2;
    padding: 30px 0;
    overflow: hidden;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 250px;
	height: 300px;
	margin: 0 auto;
	padding: 5px 5px 15px 5px;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .entrenador {	
    font-weight: 300;
    font-size: 1.2em;
}
.carousel .entrenador b {
	text-transform: uppercase;
	color: #4d0686;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.redes-sociales{
    padding-top: 10px;
}

/* GALERIA */



















.cabecera{
    width: 100%;
    height: 700px;
    background: url("/assets/cabecera/karsten.jpg")no-repeat center;
    background-size: cover;
}

.fondocabecera{
    width: 100%;
}

.options{
    padding: 5px;
    height: 400px;
}

.options-title{
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
}

.options-image-equipo{
    height: 100%;
    background: url("/assets/gimnasio/equipo-small.jpg")no-repeat center;
    background-size: cover;
    z-index: -1;
    position:relative;
    transition: transform .5s ease;
}

.options:hover .options-image-equipo{ 
    transform: scale(1.2); 
    padding: 5px;
}
.options-image-galeria{
    height: 100%;
    background: url("/assets/gimnasio/galeria-small.jpg")no-repeat center;
    background-size: cover;
    z-index: -1;
    position:relative;
    transition: transform .5s ease;
}

.options:hover .options-image-galeria{ 
    transform: scale(1.2); 
    padding: 5px;
}

.options-image-horarios{
    height: 100%;
    background: url("/assets/gimnasio/horarios-small.jpg")no-repeat center;
    background-size: cover;
    z-index: -1;
    position:relative;
    transition: transform .5s ease;
}

.options:hover .options-image-horarios{ 
    transform: scale(1.2); 
    padding: 5px;
}
.options-image-comentarios{
    height: 100%;
    background: url("/assets/gimnasio/comentarios-small.jpg")no-repeat center;
    background-size: cover;
    z-index: -1;
    position:relative;
    transition: transform .5s ease;
}

.options:hover .options-image-comentarios{ 
    transform: scale(1.2); 
    padding: 5px;
}

.title{
    font-family: 'Monoton';
    font-size: 2.5em;
    letter-spacing: 4px;
}

.nolimits{
    margin-top: 20px;
}

.gym-container{
    height: 400px;
}

.gym-container:before{
    height: 100%;
    background-color: #33414f;
    width: 50%;
}

.gym-container-image{
    height: 100%;
    background: url("/assets/gimnasio/gimnasio.jpg")no-repeat center;
    background-size: cover;
}