<div class="perfil-empleado">
    <app-headerusuario></app-headerusuario>
    <app-menuperfilempleado></app-menuperfilempleado>
</div>
<!--<
div class="datos-empleado">
    <div class="row rowdatosempleado">
        <div class="col-12 col-sm-4">

        </div>
        <div class="col-12 col-sm-8">
            <div class="row">
                <div class="col-12"><span class="usuarionombre">{{usuario.nombre}}</span> <span class="usuarionombre">{{usuario.apellidos}}</span></div>
                <div class="col-12"></div>
            </div>
        </div>
    </div>
</div>-->
<!--<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="foto-empleado">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-8">
                <p>NOMBRE EMPLEADO</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">PERFIL</div>
            <div class="col-6">SOCIO</div>
        </div>
        <div class="row">
            <div class="col">
                <form [formGroup]="formEditEmpleado" (submit)="editarEmpleado()">
                    <div class="form-group">
                        <label>Email</label>
                      <input type="text" class="form-control" formControlName="email" placeholder="Email...">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                      <input type="password" class="form-control" formControlName="password" placeholder="Contraseña...">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" class="form-control" formControlName="apellidos">
                    </div>
                    <div class="form-group">
                        <label>Fecha de nacimiento</label>
                        <input type="date" class="form-control" formControlName="fecha_nac">
                    </div>
                    <div class="form-group">
                        <label>Foto</label>
                        <input type="file" class="form-control controlregistro" formControlName="foto">
                    </div> 
                    <div class="form-group">
                        <label>Instagram</label>
                        <input type="text" class="form-control controlregistro" formControlName="instagram">
                    </div> 
                    <div class="form-group">
                        <label>Facebook</label>
                        <input type="text" class="form-control controlregistro" formControlName="facebook">
                    </div> 
                    <div class="form-group">
                        <label>Twitter</label>
                        <input type="text" class="form-control controlregistro" formControlName="twitter">
                    </div> 
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Editar</button></div>
                </form>
            </div>
        </div>
    </div>
</div>-->