.menu{
    overflow: hidden;
}
  
.rowmenu{
    height: 100%;
}

.ejercicios{
    height: 400px;
    padding: 0;
    overflow: hidden;
    position:relative;
}
  
.perfil{
    height: 400px;
    padding: 0;
    overflow: hidden;
    position:relative;
    cursor: pointer;
}
  
.ejercicios-image{
    background: url('/assets/menusocio/ejercicios.jpg')no-repeat center;
    background-size: cover;
    z-index: -1;
    position:relative;
    height: 100%;
}

.contenedor-ejercicios-title{
    height: 100%;
    width:100%;
    align-items: center;
    display: flex;
    position: absolute;
}
  
.ejercicios-title{
    background: rgba(133, 128, 128,0.5); 
    backdrop-filter: blur(15px);
    color: white;
    width:100%;
    padding:20px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
}
  
.perfil-image{
    background: url('/assets/menusocio/perfil.jpg')no-repeat center;
    background-size: cover;
    z-index: -1;
    position:relative;
    height: 100%;
    transition: transform .5s ease;
}

.perfil:hover .perfil-image{
    transform: scale(1.2);
    padding: 0;
    cursor:pointer;
}
  
.contenedor-perfil-title{
    height: 100%;
    width:100%;
    align-items: center;
    display: flex;
    position: absolute;
}
  
.perfil-title{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    color: white;
    width:100%;
    padding:20px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
}