.menu{
    overflow: hidden;
}
  
.rowmenu{
    height: 100%;
}

.empleado{
    height: 350px;
    padding: 0;
    overflow: hidden;
    position:relative;
    cursor: pointer;
}
  
.socio{
    height: 350px;
    padding: 0;
    overflow: hidden;
    position:relative;   
}

.empleado-image{
    background: url('/assets/menuempleados/empleados.jpg')no-repeat center;
    background-size: cover;
    z-index: -1;
    position:relative;
    height: 100%;
    transition: transform .5s ease;
}

.empleado:hover .empleado-image{
    transform: scale(1.2);
    padding: 0;
    cursor:pointer;
}

.contenedor-empleado-title{
    height: 100%;
    width:100%;
    align-items: center;
    display: flex;
    position: absolute;
}
  
.empleado-title{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    color: white;
    width:100%;
    padding:20px;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 5px;
}
  
.socio-image{
    background: url('/assets/menuempleados/socios.jpg')no-repeat center;
    background-size: cover;
    z-index: -1;
    position: relative;
    height: 100%;
}
  
.contenedor-socio-title{
    height: 100%;
    width:100%;
    align-items: center;
    display: flex;
    position: absolute;
}
  
.socio-title{
    background: rgba(133, 128, 128,0.5); 
    backdrop-filter: blur(15px);
    color: white;
    width:100%;
    padding:20px;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 5px;
}


