
/*EJERCICIOS*/
.menu-ejercicios{
    overflow: hidden;
}

.ejercicios .cabecera-ejercicio{
    width: 100%;
    background: #290347;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #290347,hsl(288, 94%, 13%));
    background: linear-gradient(to right, #290347,hsl(288, 94%, 13%));
    display:flex;
    align-items: center;
    padding: 10px 20px;
}

.ejercicios .cabecera-ejercicio h3{
    font-size: 2em;
    font-weight: 300;
    color:white;
    padding-left: 8px;
}

.container-ejercicio{
    padding-top:8px;
    overflow: hidden;
}

.col-ejercicio{
    overflow: hidden;
    padding: 0;
}

.contenedor-ejercicios{
    height: 300px;
    overflow: hidden;
    padding-top: 5px;
    padding-left: 5px;
    transition: transform .5s ease;
}

.contenedor-ejercicios .title-ejercicio{
    width:100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items:flex-end;
    overflow: hidden;
}

.contenedor-ejercicios .title-ejercicio .title{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
    width:100%;
}

.contenedor-ejercicios .title-ejercicio .title h2{
    color:white;
    font-size: 1.2em;
    font-weight: 300;
    padding: 10px;
}

.contenedor-ejercicios .img-ejercicio{
    z-index: -1;
    width: 100%;
    height: 100%;
    position:relative;
   
}

.contenedor-ejercicios:hover{
    cursor:pointer;
}

.contenedor-ejercicios img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

/*modal*/

.modal-dialog{
    overflow: hidden;
}


.modal-body{
    overflow: hidden;
}

.modal-img{
    overflow:hidden;
}


.modal-ejercicio-img{
    object-fit: cover;
    width: 100%;
}

.ejecucion-ejercicio{
    padding:20px 10px;
}

.ejecucion-ejercicio p{
    text-align: justify;
}
