<div class="galeria">
    <div class="titulo-nolimits">
        <h2>#NO LIMITS</h2>
    </div>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="assets-carousel"><video src="/assets/galeria/video.mp4" autoplay loop></video></div>
            </div>
            <div class="carousel-item" data-duration="3000">
                <div class="assets-carousel"><img src="/assets/cabecera/anastase.jpg" alt=""></div>
            </div>
           
        </div>
    </div>
</div>