<div class="galeria">
    
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-duration="4000">
                <div class="row">
                    <div class="col-12 assets-carousel">
                        <img src="/assets/juanjo/juanjo.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="assets-carousel"><img src="/assets/cabecera/anastase.jpg" alt=""></div>
            </div>
            <div class="carousel-item">
                <div class="assets-carousel"><img src="/assets/cabecera/freitas.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>