<div class="menu-btn">
    <i class="fas fa-bars"></i>
  </div>
  <div class="side-bar">
    <div class="close-btn">
      <i class="fas fa-times"></i>
    </div>
    <div class="menu">
      <div class="row">
        <div class="col-4 ejercicios">
          <div class="contenedor-ejercicios-title">
            <div class="ejercicios-title">EJERCICIOS</div>
          </div>
          <div class="ejercicios-image"></div>
        </div>
        <div class="col-4 rutinas" [routerLink]="['/rutinas']">
          <div class="contenedor-rutinas-title">
            <div class="rutinas-title">
              RUTINAS
            </div>
          </div>
          <div class="rutinas-image"></div>
        </div>
        <div class="col-4 perfil" >
          <div class="contenedor-perfil-title">
            <div class="perfil-title">PERFIL</div>
          </div>
          <div class="perfil-image"></div>
        </div>
      </div>
    </div>
  </div>
  <section class="main">
    <router-outlet></router-outlet>
  </section>
 